# Lab 0:ML Basics

Ahmad Hakim

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("/content/mtcars.csv")

In [32]:
print(df.head())
df.head(100)
df.tail()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  ...  \
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4  ...
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4  ...
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4  ...
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3  ...
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3  ...

   model_merc 280c  model_merc 450se  model_merc 450sl  model_merc 450slc  \
0            False             False             False              False
1            False             False             False              False
2            False             False             False              False
3            False             False             False              False
4            False             False             False              False

   model_pontiac firebird  model_porsche 914-2  model_toyota corolla  \
0                   False                False                 False
1                   False                False                 False
2                   False                False                 False
3                   False                False                 False
4                   False                False                 False

   model_toyota corona  model_valiant  model_volvo 142e
0                False          False             False
1                False          False             False
2                False          False             False
3                False          False             False
4                False          False             False

[5 rows x 43 columns]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,...,model_merc 280c,model_merc 450se,model_merc 450sl,model_merc 450slc,model_pontiac firebird,model_porsche 914-2,model_toyota corolla,model_toyota corona,model_valiant,model_volvo 142e
27,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,...,False,False,False,False,False,False,False,False,False,False
28,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,...,False,False,False,False,False,False,False,False,False,False
29,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,...,False,False,False,False,False,False,False,False,False,False
30,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,...,False,False,False,False,False,False,False,False,False,False
31,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,...,False,False,False,False,False,False,False,False,False,True

In [16]:
df.shape

(32, 12)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   mpg                        32 non-null     float64
 1   cyl                        32 non-null     int64
 2   disp                       32 non-null     float64
 3   hp                         32 non-null     int64
 4   drat                       32 non-null     float64
 5   wt                         32 non-null     float64
 6   qsec                       32 non-null     float64
 7   vs                         32 non-null     int64
 8   am                         32 non-null     int64
 9   gear                       32 non-null     int64
 10  carb                       32 non-null     int64
 11  model_amc javelin          32 non-null     bool
 12  model_cadillac fleetwood   32 non-null     bool
 13  model_camaro z28           32 non-null     bool
 14  model_chrysler imperial    32 non-null     bool
 15  model_datsun 710           32 non-null     bool
 16  model_dodge challenger     32 non-null     bool
 17  model_duster 360           32 non-null     bool
 18  model_ferrari dino         32 non-null     bool
 19  model_fiat 128             32 non-null     bool
 20  model_fiat x1-9            32 non-null     bool
 21  model_ford pantera l       32 non-null     bool
 22  model_honda civic          32 non-null     bool
 23  model_hornet 4 drive       32 non-null     bool
 24  model_hornet sportabout    32 non-null     bool
 25  model_lincoln continental  32 non-null     bool
 26  model_lotus europa         32 non-null     bool
 27  model_maserati bora        32 non-null     bool
 28  model_mazda rx4            32 non-null     bool
 29  model_mazda rx4 wag        32 non-null     bool
 30  model_merc 230             32 non-null     bool
 31  model_merc 240d            32 non-null     bool
 32  model_merc 280             32 non-null     bool
 33  model_merc 280c            32 non-null     bool
 34  model_merc 450se           32 non-null     bool
 35  model_merc 450sl           32 non-null     bool
 36  model_merc 450slc          32 non-null     bool
 37  model_pontiac firebird     32 non-null     bool
 38  model_porsche 914-2        32 non-null     bool
 39  model_toyota corolla       32 non-null     bool
 40  model_toyota corona        32 non-null     bool
 41  model_valiant              32 non-null     bool
 42  model_volvo 142e           32 non-null     bool
dtypes: bool(32), float64(5), int64(6)
memory usage: 3.9 KB

In [18]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [19]:
df.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [20]:
df.isnull().sum()

model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [21]:
(df.isnull().sum()/df.shape[0])*100

model    0.0
mpg      0.0
cyl      0.0
disp     0.0
hp       0.0
drat     0.0
wt       0.0
qsec     0.0
vs       0.0
am       0.0
gear     0.0
carb     0.0
dtype: float64

In [22]:
df.duplicated().sum()

np.int64(0)

In [24]:
df["model"].unique()

array(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D',
       'Merc 230', 'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL',
       'Merc 450SLC', 'Cadillac Fleetwood', 'Lincoln Continental',
       'Chrysler Imperial', 'Fiat 128', 'Honda Civic', 'Toyota Corolla',
       'Toyota Corona', 'Dodge Challenger', 'AMC Javelin', 'Camaro Z28',
       'Pontiac Firebird', 'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa',
       'Ford Pantera L', 'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype=object)

## 3. Clean the data

In [25]:
df = df.drop_duplicates()

#### Null values

In [27]:
df = df.dropna(subset=['model'])

#### Fill missing values

In [29]:
df.fillna(df["wt"].mean(), inplace=True)

## 4. Standarize Data

In [30]:
df["model"]= df["model"].str.lower()

In [ ]:
gender_map = {
    "M" : "Male", 'male' : "Male", "F" : "Female"
}

df["gender"] = df["gender"].replace(gender_map)

label encoding for ordered data

one-hot encoding for unordered data

In [35]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,...,model_merc 280c,model_merc 450se,model_merc 450sl,model_merc 450slc,model_pontiac firebird,model_porsche 914-2,model_toyota corolla,model_toyota corona,model_valiant,model_volvo 142e
0,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,...,False,False,False,False,False,False,False,False,False,False
1,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,...,False,False,False,False,False,False,False,False,False,False
2,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,...,False,False,False,False,False,False,False,False,False,False
3,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,...,False,False,False,False,False,False,False,False,False,False
4,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,...,False,False,False,False,False,False,False,False,False,False

In [31]:
df = pd.get_dummies(df,columns=["model"])

In [36]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,...,model_merc 280c,model_merc 450se,model_merc 450sl,model_merc 450slc,model_pontiac firebird,model_porsche 914-2,model_toyota corolla,model_toyota corona,model_valiant,model_volvo 142e
0,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,...,False,False,False,False,False,False,False,False,False,False
1,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,...,False,False,False,False,False,False,False,False,False,False
2,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,...,False,False,False,False,False,False,False,False,False,False
3,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,...,False,False,False,False,False,False,False,False,False,False
4,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,...,False,False,False,False,False,False,False,False,False,False